h1 {
    background: transparent;  
}

body {
    background-image: linear-gradient(90deg, #0f025c 0%, #3a26ad 52%, #5c4bb9 90%);
}

.bold {
    font-weight: bolder;
}

.bold span {
    font-weight: 200;
}

#city-name {
    font-size: 48px;
}

#current-date {
    font-size: 28px;
}

#current-weather {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: white;
}

#current-temp {
    font-size: 36px;
    font-weight: bolder;
}

.city-title, .current-date, .current-weather-icon {
    font-size: 30px;
}


.favorable {
    border: solid 1px;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: green;
}

.moderate {
    border: solid 1px;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: yellow;
}

.severe{
    border: solid 1px;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: red;
}

#forecast-header h4 {
    color: white;
}

#forecast-container {
    background-color: white;
}
#forecast-container .card {
    background: transparent;
    background-image: linear-gradient(90deg, #0f025c 0%, #3a26ad 52%, #5c4bb9 90%);
    color: white;
}

.hide {
    display: none;
}